  
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: 0 auto;
  }

  .item {
    background: #f5f5f5;
    padding: 18px;
    border-radius: 15px;
    cursor: pointer;
  }
  .item .title{
    color: #333d4b;
    font-size: 18px;
  }
  .item .content{
    color: #6b7684;
    font-size: 14px;
  }
  .content-center{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10px;
    font-size: 12px;
  }
  .userprofile {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .userprofile img{
    width: 20px; height: 20px;
  }


  
  
  